$white: #ffffff;
$dark-grey: #3d4050;
$blue: #3e9cdc;
$dark-blue: #10101d;
$black: #272733;
$black-2: #2a2b30;
$grey: #bbbbbb;
$grey-2: #c3c3c3;
$white-2: #dfdfe1;
$border-blue: #286690;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1660px;
$desktop-full-hd: 1900px;
